@charset "utf-8";
/* CSS Document */

body{
	background:#0CF;
	margin:0 auto;
}

#header{

}


#content{
	width:600px;
	height:auto;
	margin-left:auto; 
	margin-right:auto;
}

#footer{
	
}

button{
	display:block;
	height: auto;
	width: 80px;
	border-radius: 10%;
	font-size:20px;
	color:white;
	background:#6CF;
	border: 1px solid white;
	margin:auto;
}

#buttons{
	width:100px;
	margin-left:auto;
	margin-right:auto;	
}

#buttons tr td:first-child{
	padding-right:2em;
}