@charset "utf-8";
/* CSS Document */

#content{
	width:370px;
	height:auto;
	margin-left:auto; margin-right:auto;
}

tr>td {
  padding-top: 1em;
}


body{
	width:600px;
	height:800px;
	margin:auto;
	background:#0CF;
	margin:0 auto;
}


button{
	display:block;
	height: auto;
	width: 80px;
	border-radius: 10%;
	font-size:20px;
	color:white;
	background:#09F;
	border: 1px solid white;
	margin:auto;
}

#req{
	color:red;
}

#hints{
	margin-right:20px;
	color:red;
}