<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ships.myapplication"
    android:installLocation="preferExternal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".homepageAndRegistration.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SHIPS"
        android:theme="@style/HiddenTitleTheme">
        <activity
            android:name=".homepageAndRegistration.MainActivity"
            android:label="SHIPS"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.XTermsModuelsList"
            android:exported="true"
            android:label="Future Program" />
        <activity
            android:name=".EMDR.EMDRActivity"
            android:exported="true"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".homepageAndRegistration.TermsAndConditions"
            android:exported="true" />
        <activity
            android:name=".homepageAndRegistration.Register"
            android:exported="true" />
        <activity
            android:name=".homepageAndRegistration.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".homepageAndRegistration.RegisterSuccess"
            android:exported="true" />
        <activity
            android:name=".modules.MyProgramList"
            android:exported="true" />
        <activity
            android:name=".modules.LongTermProgramList"
            android:exported="true" />
        <activity
            android:name=".modules.ShortTermProgramList"
            android:exported="true" />
        <activity
            android:name=".FAS.FAS"
            android:exported="true" />
        <activity
            android:name=".relaxationAudio.RelaxationAudioActivity"
            android:exported="true" />
        <activity android:name=".FAS.ShowFASResult" />
        <activity
            android:name=".modules.SuggestedModules"
            android:exported="true" />
        <activity
            android:name=".modules.AllPrograms"
            android:exported="true" />
        <activity
            android:name=".modules.MyLongTermProgram"
            android:exported="true" />
        <activity
            android:name=".modules.MyShortTermProgram"
            android:exported="true" />
        <activity
            android:name=".modules.TherapeuticTools"
            android:exported="true" />
        <activity
            android:name=".EMDR.EMDRActivitySettings"
            android:exported="true" />
        <activity
            android:name=".exposure.ExposureInfo"
            android:exported="true" />
        <activity
            android:name=".modules.ModuleDescription"
            android:exported="true" />
        <activity
            android:name=".GSR.GSRGraphActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exposure.ExposureDes"
            android:exported="true" />
        <activity android:name=".exposure.ExposureTherapy" />
        <activity android:name=".OtherInterfaces.ChangePassword" />
        <activity android:name=".OtherInterfaces.ConfirmeChangePW" />
        <activity android:name=".OtherInterfaces.ContactUs" />
        <activity android:name=".OtherInterfaces.ThereapyFactsheets" />
        <activity android:name=".OtherInterfaces.FAQs" />
        <activity android:name=".OtherInterfaces.FindOutMore" />
        <activity android:name=".OtherInterfaces.FindPassword" />
        <activity android:name=".OtherInterfaces.SystematicDesensitation" />
        <activity android:name=".OtherInterfaces.Treatments" />
        <activity android:name=".OtherInterfaces.UserProfile" />
        <activity android:name=".OtherInterfaces.UpdateUserDetail" />
        <activity android:name=".OtherInterfaces.Updated" />
        <activity
            android:name=".cognitiveTherapy.FactsheetSelect"
            android:exported="true" />
        <activity
            android:name=".OtherInterfaces.DrawerActivity"
            android:label=".OtherInterfaces.DrawerActivity">
            <intent-filter>
                <action android:name="OtherInterfaces.DrawerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".userRecord.Records" />
        <activity android:name=".cognitiveTherapy.cognitiveDistortion" />
        <activity android:name=".cognitiveTherapy.CognitiveReplacement"></activity>
    </application>

</manifest>